.equipamiento{
    text-align: center;
}
.titulo-historial{
    position: relative;
    top: -800px;
    left: 1350px;
}
.fondito{
    background-color: grey;
    width: 290px;
    height: 110px;
    margin-left: 140px;
    border: solid 5px grey;
}
.armas{
    height: 100px;
    justify-content: center;
    padding-top: 45px;
}
.arma--principal{
    font-family: R6;
    position: relative;
    right: 460px;
}
.video--type{
    display: flex;
    position: absolute;
    left: 1070px;
    bottom: 150px;
    width: 700px;
    height: 450px;
}
.lion-img{
    height: $tamaño-agente;
}
.titulo-historial-lion{
    position: relative;
    top: -700px;
    left: 1350px;
}
@mixin mobile{
    @media (min-width:350px) {
        @content;
    }
}
@include mobile(){
    img{
        height: $tamaño-agentes-responsive;
    }
    .equipamiento{
        text-align: center;
        font-size: 60px;
        position: relative;
        top: 60px;
    }
    .titulo-historial{
    display: none;
    }
    .titulo-historial{
        position: relative;
        top: -800px;
        left: 1350px;
    }
    .fondito{
        background-color: grey;
        width: 290px;
        height: 110px;
        margin-left: 35px;
        border: solid 5px grey;
    }
    .lion-img{
        height:300px;
    }
    .armas{
        height: 100px;
        justify-content: center;
        padding-top: 45px;
    }
    .arma--principal{
        font-family: R6;
        font-size: 30px;
        position: relative;
        right: 460px;
    }
    .titulo-historial-lion{
        display: none;
    }
    .video--type{
        display: none;
        position: absolute;
        left: 60px;
        bottom: 100px;
        width: 250px;
        height: 150px;
    } 
}
@mixin mobile-horizontal{
    @media (min-width:460px) {
        @content;
    }
}
@include mobile-horizontal(){
    img{
        height: $tamaño-agente;
    }
    .equipamiento{
        text-align: center;
        font-size: 60px;
        position: relative;
        top: 60px;
        left: 15px;
    }
    .titulo-historial{
        display: none;
        position: relative;
        top: -800px;
        left: 1350px;
    }
    .lion-img{
        height:350px;
    }
    .fondito{
        background-color: grey;
        width: 290px;
        height: 110px;
        margin-left: 95px;
        border: solid 5px grey;
    }
    .armas{
        height: 100px;
        justify-content: center;
        padding-top: 45px;
    }
    .titulo-historial-lion{
        display: none;
    }
    .video--type{
        display: none;
        position: absolute;
        left: 110px;
        bottom: -50px;
        width: 250px;
        height: 150px;
        padding: 60px;
    } 
}
@mixin mobile-horizontal-{
    @media (min-width:510px) {
        @content;
    }
}
@include mobile-horizontal-(){
    img{
        height: $tamaño-agente;
    }
    .equipamiento{
        text-align: center;
        font-size: 60px;
        position: relative;
        top: 60px;
        left: 27px;
    }
    .titulo-historial{
        display: none;
    }
    .lion-img{
        height:450px;
    }
    .fondito{
        background-color: grey;
        width: 290px;
        height: 110px;
        margin-left: 125px;
        border: solid 5px grey;
    }
    .titulo-historial-lion{
        display: none;
    }
    .video--type{
        display: none;
        position: absolute;
        left: 155px;
        bottom: -90px;
        width: 250px;
        height: 150px;
    }
}
@mixin horizontal-mobile{
    @media (min-width:550px) {
        @content;
    }
}
@include horizontal-mobile(){
    img{
        height: 700px;   
    }
    .titulo-historial{
        display: none;
    }
    .titulo-historial-lion{
        display: none;
    }
    .lion-img{
        height:450px;
    }
    .video--type{
        display: none;
        position: absolute;
        left: 155px;
        bottom: -90px;
        width: 250px;
        height: 150px;
    } 
}
@mixin tabletas-pequeñas{
    @media (min-width:600px) {
        @content;
    }
}
@include tabletas-pequeñas(){
    img{
        height: $tamaño-agentes-responsive; 
    }
    .video--type{
        display: flex;
        position: relative;
        left: 245px;
        bottom: 350px;
        width: 250px;
        height: 150px;
    } 
    .titulo-historial{
        display: none;
    }
    .titulo-historial-lion{
        display: none;
    }
    .lion-img{
        height:450px;
    }
    .equipamiento{
        text-align: center;
        font-size: 70px;
        position: relative;
        top: 10px;
        left: 10px;
    }
    .fondito{
        background-color: grey;
        width: 290px;
        height: 110px;
        margin-left: 165px;
        border: solid 5px grey;
        position: relative;
        bottom: 50px;
    }
}
@mixin tabletas-vertical{
    @media (min-width:630px) {
        @content;
    }
}
@include tabletas-vertical(){
    img{
        height: $tamaño-agentes-responsive; 
    }
    .titulo-historial-lion{
        display: none;
    }
    .video--type{
        display: flex;
        position: relative;
        left: 270px;
        bottom: 370px;
        width: 250px;
        height: 150px;
    } 
    .titulo-historial{
        display: none;
    }
    .lion-img{
        height:350px;
    }
    .equipamiento{
        text-align: center;
        font-size: 70px;
        position: relative;
        top: -180px;
        left: -15px;
    }
    .fondito{
        background-color: grey;
        width: 290px;
        height: 110px;
        margin-left: 165px;
        border: solid 5px grey;
        position: relative;
        bottom: 180px;
    }
}
@mixin tablets-pequeñas{
    @media (min-width:670px) {
        @content;
    }
}
@include tablets-pequeñas(){
    img{
        height: $tamaño-agentes-responsive; 
    }
    .video--type{
        display: flex;
        position: relative;
        left: 300px;
        bottom: 410px;
        width: 250px;
        height: 150px;
    } 
    .titulo-historial-lion{
        display: none;
    }
    .lion-img{
        height:350px;
    }
    .equipamiento{
        text-align: center;
        font-size: 70px;
        position: relative;
        top: -180px;
        left: -15px;
    }
    .titulo-historial{
        display: none;
    }
    .fondito{
        background-color: grey;
        width: 290px;
        height: 110px;
        margin-left: 165px;
        border: solid 5px grey;
        position: relative;
        bottom: 180px;
    }
}
@mixin tablet-vertical{
    @media (min-width:700px) {
        @content;
    }
}
@include tablet-vertical(){
    img{
        height: $tamaño-agentes-responsive; 
    }
    .video--type{
        display: flex;
        position: relative;
        left: 340px;
        bottom: 400px;
        width: 250px;
        height: 150px;
    } 
    .titulo-historial-lion{
        display: none;
    }
    .equipamiento{
        text-align: center;
        font-size: 75px;
        position: relative;
        top: -180px;
        left: -15px;
    }
    .lion-img{
        height:350px;
    }
    .titulo-historial{
        display: none;
    }
    .fondito{
        background-color: grey;
        width: 290px;
        height: 110px;
        margin-left: 195px;
        border: solid 5px grey;
        position: relative;
        bottom: 180px;
    }
}
@mixin tabletas-diez-pulgadas{
    @media (min-width:740px) {
        @content;
    }
}
@include tabletas-diez-pulgadas(){
    img{
        height: $tamaño-agentes-responsive; 
    }
    .video--type{
        display: flex;
        position: relative;
        left: 270px;
        bottom: 430px;
        width: 350px;
        height: 250px;
    } 
    .titulo-historial-lion{
        display: none;
    }
    .lion-img{
        height:350px;
    }
    .equipamiento{
        text-align: center;
        font-size: 80px;
        position: relative;
        top: -180px;
        left: -10px;
    }
    .titulo-historial{
        display: none;
    }
    .fondito{
        background-color: grey;
        width: 290px;
        height: 110px;
        margin-left: 210px;
        border: solid 5px grey;
        position: relative;
        bottom: 180px;
    }
}
@mixin diez-pulgadas{
    @media (min-width:790px) {
        @content;
    }
}
@include diez-pulgadas(){
    img{
        height: $tamaño-agentes-responsive; 
    }
    .video--type{
        display: flex;
        position: relative;
        left: 320px;
        bottom: 440px;
        width: 350px;
        height: 250px;
    } 
    .titulo-historial-lion{
        display: none;
    }
    .lion-img{
        height:350px;
    }
    .equipamiento{
        text-align: center;
        font-size: 80px;
        position: relative;
        top: -180px;
        left: -10px;
    }
    
    .titulo-historial{
        display: none;
    }
    .fondito{
        background-color: grey;
        width: 290px;
        height: 110px;
        margin-left: 240px;
        border: solid 5px grey;
        position: relative;
        bottom: 180px;
    }
}
@mixin tablet--{
    @media (min-width:830px) {
        @content;
    }
}
@include tablet--(){
    img{
        height: $tamaño-agentes-responsive; 
    }
    .video--type{
        display: flex;
        position: relative;
        left: 320px;
        bottom: 430px;
        width: 380px;
        height: 250px;
    } 
    .titulo-historial{
        display: none;
    }
    .lion-img{
        height:350px;
    }
    .equipamiento{
        text-align: center;
        font-size: 82px;
        position: relative;
        top: -180px;
        left: -20px;
    }
    .fondito{
        background-color: grey;
        width: 290px;
        height: 110px;
        margin-left: 280px;
        border: solid 5px grey;
        position: relative;
        bottom: 180px;
    }
}
@mixin tablet-px{
    @media (min-width:900px) {
        @content;
    }
}
@include tablet-px(){
    img{
        height: $tamaño-tablet; 
    }
    .video--type{
        display: flex;
        position: relative;
        left: 380px;
        bottom: 550px;
        width: 380px;
        height: 250px;
    }
    .titulo-historial{
        display: none;
    }
    .lion-img{
        height: 450px;
    }
    .equipamiento{
        position: relative;
        left: 20px;
        bottom: 250px;
    }
    .fondito{
        position: relative;
        left: 60px;
        bottom: 250px;
    }
}
@mixin horizontal-t{
    @media (min-width:950px) {
        @content;
    }
}
@include horizontal-t(){
    .titulo-historial{
        display: none;
    }
    .video--type{
        display: flex;
        position: relative;
        left: 410px;
        bottom: 580px;
        width: 430px;
        height: 300px;
    }
    .lion-img{
        height: 450px;
    }
    .fondito{
        position: relative;
        left: 80px;
    }
}
@mixin tabletas-horizontal{
    @media (min-width:1024px) {
        @content;
    }
}
@include tabletas-horizontal(){
    .video--type{
        display: flex;
        position: relative;
        left: 450px;
        bottom: 550px;
        width: 450px;
        height: 350px;
    }
    .titulo-historial{
        display: none;
    }
    .lion-img{
        height: 550px;
    }
    .fondito{
        position: relative;
        left: 120px;
    }
}
@mixin tablets-horizontal{
    @media (min-width:1100px) {
        @content;
    }
}
@include tablets-horizontal(){
    .video--type{
        display: flex;
        position: relative;
        left: 450px;
        bottom: 620px;
        width: 520px;
        height: 420px;
    }
    .titulo-historial{
        display: none;
    }
    .lion-img{
        height: 550px;
    }
    .equipamiento{
        position: relative;
        left: -30px;
        bottom: 300px;
    }
    .fondito{
        position:relative ;
        bottom: 150px;
    }
}
@mixin pantalla-panoramica{
    @media (min-width:1150px) {
        @content;
    }
}
@include pantalla-panoramica(){
    .video--type{
        display: flex;
        position: relative;
        left: 530px;
        bottom: 610px;
        width: 480px;
        height: 350px;
    }
    .titulo-historial{
        display: none;
    }
    .equipamiento{
        position: relative;
        left: -30px;
        bottom: 300px;
    }
    .lion-img{
        height: $tamaño-agente;
    }
}
@mixin panoramicas{
    @media (min-width:1170px) {
        @content;
    }
}
@include panoramicas(){
    .fondito{
    position:relative ;
        bottom: 250px;
        left: -130px;
    }
}