@media (min-width:360px) and (max-width:480px){
    .header--principal{
        display: flex;
        height: 50px;
        justify-content: space-between;
        align-items: center;
    }
    .icono{
        height: 73px;
        width: auto;
        margin-left: auto;
        position: relative;
        bottom: 5px;
    }
    .nav-link{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-family: "Uni Sans";
    font-size: 17px;
    }
    h2{
    color: rgba(255, 255, 255, 0.829);
    font-family: "Rainbow";
    font-size: 40px;
    }
    .atacantes img{
        height: 70px;
        padding: 8px;
    }
    .defensores img{
        height: 70px;
        padding: 8px;
    }
    .header{
        display: flex;
        justify-content:center;
        padding: 5px;
    }
    span{
        font-size: 23px;
    }
    .plataformas{
        font-family: "Uni Sans";
        font-size: 18px;
        margin-left: 10px;
    }
    .xboxgame,.xboxseries,.xboxone,.Ps4,.Ps5{
        color: white;
        text-decoration: none;
        padding: 10px;
        font-family: "Uni Sans";
        font-size: 15px;
    }
    .logoo{
        height: 70px;
        width: 150px;
        margin-left: 200px;
        position: relative ;
        bottom: 140px;
    }
    .privacidad{
        height: 70px;
        margin-left: 0px;
        position: relative;
        bottom: -74px;
    
    }
    .r6{
        height: 70px;
        margin-left: 55px;
        position: relative;
        bottom: 0px;
    }
    }

    /*--------TELEFONO MODO HORIZONTAL------*/
    @media (min-width:430px) and (max-width:480px){
    .logoo{
        height: 70px;
        width: 150px;
        margin-left: 250px;
        position: relative ;
        bottom: 140px;
    }
    }
    @media (min-width:480px) and (max-width:520px){
        .header--principal{
            display: flex;
            height: 70px;
            justify-content: space-between;
            align-items: center;
        }
        .icono{
            height: 80px;
            width: auto;
            margin-left: auto;
        }
        .nav-link{
        color: white;
        text-decoration: none;
        margin-right: 20px;
        font-family: "Uni Sans";
        font-size: 20px;
        }
        h2{
        color: rgba(255, 255, 255, 0.829);
        font-family: "Rainbow";
        font-size: 40px;
        }
        .atacantes img{
        height: 75px;
        padding: 8px;
        }
        .defensores img{
        height: 75px;
        padding: 8px;
        }
        .header{
        display: flex;
        justify-content:center;
        padding: 5px;
        }
        span{
        font-size: 23px;
        }
        .plataformas{
        font-family: "Uni Sans";
        font-size: 20px;
        margin-left: 10px;
        }
        .xboxgame,.xboxseries,.xboxone,.Ps4,.Ps5{
        color: white;
        text-decoration: none;
        padding: 10px;
        font-family: "Uni Sans";
        font-size: 20px;
        }
        .logoo{
        height: 70px;
        width: 150px;
        margin-left: 270px;
        position: relative ;
        bottom: 140px;
        }
        .privacidad{
        height: 70px;
        margin-left: 0px;
        position: relative;
        bottom: -74px;
        
        }
        .r6{
        height: 70px;
        margin-left: 55px;
        position: relative;
        bottom: 0px;
        }
    }
    @media (min-width:520px) and (max-width:620px){
        .header--principal{
        display: flex;
        height: 70px;
        justify-content: space-between;
        align-items: center;
        }
        .icono{
        height: 80px;
        width: auto;
        margin-left: auto;
        }
        .nav-link{
        color: white;
        text-decoration: none;
        margin-right: 20px;
        font-family: "Uni Sans";
        font-size: 22px;
        }
        h2{
        color: rgba(255, 255, 255, 0.829);
        font-family: "Rainbow";
        font-size: 40px;
        }
        .atacantes img{
        height: 75px;
        padding: 12px;
        }
        .defensores img{
        height: 75px;
        padding: 12px;
        }
        .header{
        display: flex;
        justify-content:center;
        padding: 5px;
        }
        span{
        font-size: 23px;
        }
        .plataformas{
        font-family: "Uni Sans";
        font-size: 20px;
        margin-left: 10px;
        }
        .xboxgame,.xboxseries,.xboxone,.Ps4,.Ps5{
        color: white;
        text-decoration: none;
        padding: 10px;
        font-family: "Uni Sans";
        font-size: 20px;
        }
        .logoo{
        height: 70px;
        width: 150px;
        margin-left: 370px;
        position: relative ;
        bottom: 140px;
        }
        .privacidad{
        height: 70px;
        margin-left: 0px;
        position: relative;
        bottom: -74px;
        
        }
        .r6{
        height: 70px;
        margin-left: 55px;
        position: relative;
        bottom: 0px;
        }
}

/*--------TABLETAS PEQUEÑAS MODO VERTICAL------*/
@media (min-width:620px) and (max-width:768px){
    .header--principal{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    }
    .icono{
    height: 85px;
    width: auto;
    margin-left: auto;
    }
    .nav-link{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-family: "Uni Sans";
    font-size: 22px;
    }
    h2{
    color: rgba(255, 255, 255, 0.829);
    font-family: "Rainbow";
    font-size: 40px;
    }
    .atacantes img{
    height: 85px;
    padding: 8px;
    }
    .defensores img{
    height: 85px;
    padding: 8px;
    }
    .header{
    display: flex;
    justify-content:center;
    padding: 5px;
    }
    span{
    font-size: 23px;
    }
    .plataformas{
    font-family: "Uni Sans";
    font-size: 20px;
    margin-left: 10px;
    }
    .xboxgame,.xboxseries,.xboxone,.Ps4,.Ps5{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: "Uni Sans";
    font-size: 20px;
    }
    .logoo{
    height: 90px;
    width: 180px;
    margin-left: 370px;
    position: relative ;
    bottom: 140px;
    }
    .privacidad{
    height: 70px;
    margin-left: 0px;
    position: relative;
    bottom: -74px;
    
    }
    .r6{
    height: 70px;
    margin-left: 55px;
    position: relative;
    bottom: 0px;
    }
}

/*--------TABLETAS 10 PULGADAS------*/
@media (min-width:768px) and (max-width:870px){
.logoo{
height: 90px;
width: 180px;
margin-left: 450px;
position: relative ;
bottom: 140px;
}
.privacidad{
height: 80px;
margin-left: 0px;
position: relative;
bottom: -84px;
}
.r6{
height: 80px;
margin-left: 62px;
position: relative;
bottom: 0px;
}
}
@media (min-width:870px) and (max-width:1024px){
.nav-link{
color: white;
text-decoration: none;
margin-right: 20px;
font-family: "Uni Sans";
font-size: 24px;
}
.logoo{
height: 90px;
width: 180px;
margin-left: 650px;
position: relative ;
bottom: 140px;
}
.privacidad{
height: 80px;
margin-left: 0px;
position: relative;
bottom: -84px;
}
.r6{
height: 80px;
margin-left: 62px;
position: relative;
bottom: 0px;
}
}

/*--------TABLETAS MODO HORIZONTAL------*/
@media (min-width:1024px) and (max-width:1200px){
.logoo{
margin-left: 680px;
position: relative ;
bottom: 140px;
}
.privacidad{
height: 80px;
margin-left: 0px;
position: relative;
bottom: -84px;
}
.r6{
height: 80px;
margin-left: 62px;
position: relative;
bottom: 0px;
}
}

/*--------PANTALLAS PANORAMICAS------*/
@media (min-width:1200px) and (max-width:1876px){
.privacidad{
height: 80px;
margin-left: 0px;
position: relative;
bottom: -84px;
}
.r6{
height: 80px;
margin-left: 62px;
position: relative;
bottom: 0px;
}
}

/*--------- SECCION ELITE TELEFONO VERTICAL-----------*/
@media (min-width:360px) and (max-width:400px){
.loguito{
    height: 75px;
    width: auto;
    position: relative;
    top: 40px;
    left: 63px;
}
.nav-mapas{
    font-size: 17px;
}
.imagenes--elites img{
height: 250px;
}
.elite-th{
    height: 240px;
    padding: 10px;
    padding-left: 45px;
}
.elite-gl{
    height: 250px;
    padding: 10px;
    position: relative;
    left: -45px;
    bottom: -11px;
}
.elite-smoke{
    position: relative;
    top: 13px;
    margin-left: 30px;
    padding: 10px;
}
.elite-bandit{
margin-left:25px;
padding: 10px;
position: relative;
top: 10px;
}
.kapkan-elite{
margin-left:60px;  
}
}
@media (min-width:400px) and (max-width:430px){
.loguito{
height: 75px;
width: auto;
position: relative;
top: 40px;
left: 75px;
}
    .nav-mapas{
        font-size: 17px;
    }
    .imagenes--elites img{
    height: 270px;
    }
    .elite-th{
        height: 240px;
        padding: 10px;
        padding-left: 45px;
    }
    .elite-gl{
        height: 250px;
        padding: 10px;
        position: relative;
        left: -45px;
        bottom: -11px;
    }
    .elite-smoke{
        position: relative;
        top: 13px;
        margin-left: 30px;
        padding: 10px;
    }
    .elite-bandit{
    margin-left:25px;
    padding: 10px;
    position: relative;
    top: 10px;
    }
    .kapkan-elite{
    margin-left:60px;  
    }
    }
@media (min-width:430px) and (max-width:500px){
.loguito{
height: 75px;
width: auto;
position: relative;
top: 40px;
left: 99px;
}
.nav-mapas{
font-size: 17px;
}
.imagenes--elites img{
height: 280px;
}
.elite-th{
height: 240px;
padding: 10px;
padding-left: 45px;
}
.elite-gl{
height: 250px;
padding: 10px;
position: relative;
left: -45px;
bottom: -11px;
}
.elite-smoke{
position: relative;
top: 13px;
margin-left: 30px;
padding: 10px;
}
.elite-bandit{
margin-left:25px;
padding: 10px;
position: relative;
top: 10px;
}
.kapkan-elite{
margin-left:60px;  
}
}
/*--------- SECCION ELITE TELEFONO HORIZONTAL-----------*/
@media (min-width:500px) and (max-width:530px){
.loguito{
height: 75px;
width: auto;
position: relative;
top: 40px;
left: 130px;
}
    .nav-mapas{
        font-size: 17px;
    }
    .imagenes--elites img{
    height: 300px;
    }
    .elite-th{
        height: 240px;
        padding: 10px;
        padding-left: 45px;
    }
    .elite-gl{
        height: 250px;
        padding: 10px;
        position: relative;
        left: -45px;
        bottom: -11px;
    }
    .elite-smoke{
        position: relative;
        top: 13px;
        margin-left: 30px;
        padding: 10px;
    }
    .elite-bandit{
    margin-left:25px;
    padding: 10px;
    position: relative;
    top: 10px;
    }
    .kapkan-elite{
    margin-left:60px;  
    }
    }
/*--------- SECCION ELITE TELEFONO HORIZONTAL-----------*/
@media (min-width:530px) and (max-width:600px){
.loguito{
height: 75px;
width: auto;
position: relative;
top: 40px;
left: 155px;
}
.nav-mapas{
font-size: 17px;
}
.imagenes--elites img{
height: 360px;
}
.elite-th{
height: 240px;
padding: 10px;
padding-left: 45px;
}
.elite-gl{
height: 250px;
padding: 10px;
position: relative;
left: -45px;
bottom: -11px;
}
.elite-smoke{
position: relative;
top: 13px;
margin-left: 30px;
padding: 10px;
}
.elite-bandit{
margin-left:25px;
padding: 10px;
position: relative;
top: 10px;
}
.kapkan-elite{
margin-left:60px;  
}
}

@media (min-width:600px) and (max-width:764px){
.loguito{
height: 85px;
width: auto;
position: relative;
top: 40px;
left: 195px;
}
.nav-mapas{
font-size: 19px;
}
.imagenes--elites img{
height: 430px;
}
.elite-th{
height: 240px;
padding: 10px;
padding-left: 90px;
}
.elite-gl{
height: 250px;
padding: 10px;
position: relative;
left: -45px;
bottom: -11px;
}
.elite-smoke{
position: relative;
top: 13px;
margin-left: 30px;
padding: 10px;
}
.elite-bandit{
margin-left:25px;
padding: 10px;
position: relative;
top: 10px;
}
.kapkan-elite{
margin-left:60px;  
}

/*----- SECCION ELITE PARA TABLETAS*/
}
@media (min-width:764px) and (max-width:844px){
.loguito{
height: 85px;
width: auto;
position: relative;
top: 40px;
left: 270px;
    }
    .nav-mapas{
    font-size: 21px;
    }
    .imagenes--elites img{
    height: 480px;
    }
    .elite-th{
    height: 240px;
    padding: 10px;
    padding-left:95px;
    }
    .elite-gl{
    height: 250px;
    padding: 10px;
    position: relative;
    left: -45px;
    bottom: -11px;
    }
    .elite-smoke{
    position: relative;
    top: 13px;
    margin-left: 30px;
    padding: 10px;
    }
    .elite-bandit{
    margin-left:25px;
    padding: 10px;
    position: relative;
    top: 10px;
    }
    .kapkan-elite{
    margin-left:60px;  
    }
}
@media (min-width:844px) and (max-width:1000px){
.loguito{
height: 85px;
width: auto;
position: relative;
top: 40px;
left: 330px;
    }
    .nav-mapas{
    font-size: 21px;
    }
    .imagenes--elites img{
    height: 540px;
    }
    .elite-th{
    height: 240px;
    padding: 10px;
    padding-left: 130px;
    }
    .elite-gl{
    height: 250px;
    padding: 10px;
    position: relative;
    left: -45px;
    bottom: -11px;
    }
    .elite-smoke{
    position: relative;
    top: 13px;
    margin-left: 30px;
    padding: 10px;
    }
    .elite-bandit{
    margin-left:25px;
    padding: 10px;
    position: relative;
    top: 10px;
    }
    .kapkan-elite{
    margin-left:165px;  
    }
}

/*------- SECCION ELITES PANTALLAS PANORAMICAS*/
@media (min-width:1000px) and (max-width:1200px){
.loguito{
height: 90px;
width: auto;
position: relative;
top: 40px;
left: 383px;
}
.nav-mapas{
font-size: 23px;
}
.imagenes--elites img{
height: 650px;
}
.elite-th{
height: px;
padding: 10px;
padding-left: 130px;
}
.elite-gl{
height: px;
padding: 10px;
position: relative;
left: -45px;
bottom: -11px;
}
.elite-smoke{
position: relative;
top: 13px;
margin-left: 30px;
padding: 10px;
}
.elite-bandit{
margin-left:25px;
padding: 10px;
position: relative;
top: 10px;
}
.kapkan-elite{
margin-left:165px;  
}
}